[Unit]
Description=Locust Yagna Load Testing Master
After=network.target

[Service]
WorkingDirectory=/root/locus-master/loadtest-yagna
ExecStart=/usr/bin/poetry run locust -f golem/nanotask.py --master --web-host 0.0.0.0
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target

